

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

footer {
  border-top: 1px #eaeaea solid;
  padding-top: 10px;
  color: #777;
  position: absolute;
  top: 95%;
  
  a {
    color: blue ;
    &:hover{ color: cyan }
  }
}
